# Python virtual environment
.venv/
venv/

# Do not load data
data/
Datasets/

# Do not load notes
notes/

# VS Code settings
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Mac OS and system files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
*.bak

# Environment variables
.env
.env.*

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Coverage reports
htmlcov/
.coverage

# IDE specific
.idea/
